.logo {
	width:80px;
	height:80px;
	background: $color-primary;
	display: block;
	text-align: center;
}

.logo-svg {
	width: 42px;
	height: 48px;
	overflow: visible;
	margin-top:16px;
}

.logo-svg path {
	fill:#fff;
}

.logo-svg path.svg-logo-path-rotate {
	transform-origin: center center;
	transform: rotate(180deg);
	transition: all 0.4s ease-in-out;
}

.logo:hover .logo-svg path.svg-logo-path-rotate,
.logo:focus .logo-svg path.svg-logo-path-rotate {
	transform: rotate(0deg);
}